In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\SAURABH\Downloads\student_info.csv")
df.head()

   study_hours  student_marks
0         6.83          78.50
1         6.56          76.74
2          NaN          78.68
3         5.67          71.82
4         8.67          84.19

In [3]:
df.isnull().sum()

study_hours      5
student_marks    0
dtype: int64

In [4]:
df1=df.fillna(df.mean())
df1.isnull().sum()

study_hours      0
student_marks    0
dtype: int64

In [5]:
df1.head()

   study_hours  student_marks
0     6.830000          78.50
1     6.560000          76.74
2     6.995949          78.68
3     5.670000          71.82
4     8.670000          84.19

In [6]:
X=df1.drop("student_marks",axis=1)
y=df1.drop("study_hours",axis=1)
X.shape

(200, 1)

In [7]:
y.shape

(200, 1)

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=51)

In [9]:
X_train.shape

(160, 1)

# Model

In [10]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

### Check the accuracy that is 95.14%

In [11]:
lr.score(X_test,y_test)

0.9514124242154464

In [12]:
import joblib
joblib.dump(lr,"student_mark_predictor_model.pkl")

['student_mark_predictor_model.pkl']

In [13]:
model=joblib.load("student_mark_predictor_model.pkl")

In [14]:
model.predict([[5]])[0][0]

70.12594512018406

In [15]:
model.predict([[12]])[0][0]

97.67597123672232